.error{
    background: aquamarine;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.error__title {
    color: ivory;
    font-size: 4.5rem;
  }
.error__back{
    display: flex;
    justify-content: center;
}
